.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  box-sizing: border-box;
  height: 310px;
  width: 223px;
  border-radius: 12px;
}

.card__power-thoughness {
  display: flex;
  justify-content: flex-end;
}

.card__name {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}
