body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  background: #023859;
  color: white;
}
a {
  color: white;
}

h1 {
  font-family: "PT Serif", serif;
}

main {
  max-width: 1300px;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #0487d9;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 40px;
  margin: auto;
}

.logo {
  width: 100px;
}
